<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="loginModel[0].username" #usernameInput="ngModel" [required]="true">
      <div *ngIf="loginModel[0].username == null || loginModel[0].username.trim() === ''" class="error-message">Username is required.</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="loginModel[0].password" #passwordInput="ngModel"[required]="true">
      <div *ngIf="loginModel[0].password == null || loginModel[0].password.trim() === ''" class="error-message">Password is required.</div>
    </div>
    <button type="submit" [disabled]="!isFormValid(usernameInput, passwordInput)">Login</button>
  </form>
  <div class="text-center">
    <a href="/register" (click)="goToRegister()">Register</a>
  </div>
</div>
