<h5>CONTACT LIST</h5>
<button mat-raised-button color="primary" [routerLink]="['/add-contact']">Add Contact</button>
<div>
  <button (click)="logout()">Logout</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">NO</th>
      <th>Name</th>
      <th>Email</th>
      <th>PhoneNumber</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>PostalCode</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ contact.firstName }} {{ contact.lastName }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phoneNumber }}</td>
      <td>{{ contact.address }}</td>
      <td>{{ contact.city }}</td>
      <td>{{ contact.state }}</td>
      <td>{{ contact.country }}</td>
      <td>{{ contact.postalCode }}</td>
      <td>
        <button class="btn btn-sm btn-warning" (click)="onEditContact(contact)">Edit</button>
      </td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="onDeleteContact(contact)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
