<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <targets>
    <console name="console" layout="${level:uppercase} - ${message:raw}" />
    <file name="app.log" fileName="app.log" layout="${longdate} | ${level:uppercase} | ${threadid} | ${message:raw}" />
  </targets>
  <rules>
    <matches>
      <message level="Trace|Debug|LogInformation|Warn|LogError|Fatal" />
    </matches>
    <targets>
      <active target="console" />
      <active target="logfile" />
    </targets>
  </rules>
</configuration>
